<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>EZWeb Demo</title>
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/hover-effects.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/colorpicker.css" type="text/css" media="screen" />
<link href="css/menu.css" rel="stylesheet" type="text/css" />
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/gui.css" />
<link rel="stylesheet" type="text/css" href="css/examples.css" />
<link rel="stylesheet" href="css/sociable.css" type="text/css" media="all" />
<link rel="stylesheet"  href="css/shortcodes.css" type="text/css" media="all" />
<link rel="stylesheet"  href="css/pagenavi-css.css" type="text/css" media="all" />
<link rel="stylesheet"  href="css/jquery.css" type="text/css" media="screen" />
<link rel="stylesheet"  href="css/page_templates.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/vertical-s.css" />
<script type="text/javascript" src="css/jquery_004.js"></script>
<script type="text/javascript" src="css/jquery-migrate.js"></script>
<script type="text/javascript" src="css/sociable.js"></script>
<script type="text/javascript" src="css/vuible.js"></script>

<script type="text/javascript" src="css/et_shortcodes_frontend.js"></script>
<script type="text/javascript" language="JavaScript" src="css/jquery_006.js"></script>
<script type="text/javascript" language="JavaScript" src="css/jquery.js"></script>	

<link type="text/css" rel="stylesheet" href="hover-effects.css" />
<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
    $(document).ready(function() {
    $('.standard').hover(
    function(){
    $(this).find('.caption').show();
    },
    function(){
    $(this).find('.caption').hide();
    }
    );    
    });
    </script>
</head>

<body>
<div id="top-header">
  <div class="container clearfix">
    <div id='cssmenu'>
	<ul>
	   <li><a href='home.html' target='_blank'><span>TRANG CHỦ</span></a></li>
	   <li ><a href='#'><span>GIỚI THIỆU</span></a>  </li>
	   <li class='has-sub'><a href='#'><span>SẢN PHẨM</span></a>
	   		<ul>
			 <li class='has-sub'><a href='#'><span>Product 1</span></a>
				<ul>
				   <li><a href='#'><span>Sub Item</span></a></li>
				   <li class='last'><a href='#'><span>Sub Item</span></a></li>
				</ul>
			 </li>
			 <li class='has-sub'><a href='#'><span>Product 2</span></a>
				<ul>
				   <li><a href='#'><span>Sub Item</span></a></li>
				   <li class='last'><a href='#'><span>Sub Item</span></a></li>
				</ul>
			 </li>
		  </ul>
	   </li>
	   <li class='last'><a href='thuvienanh.html'><span>HÌNH ẢNH</span></a></li>
	   <li class='last'><a href='tintuc.html'><span>TIN TỨC</span></a></li>
	   <li class='last'><a href='#'><span>TUYỂN DỤNG</span></a></li>
	   <li class='last'><a href='contact.html'><span>LIÊN HỆ</span></a></li>
	   <li class='last'><a href='#'><span>SITEMAP</span></a></li>
	</ul>
	
</div>    
  </div>
  <!-- end .container -->
</div>
<!-- end #top-header -->
<div id="content-area">
  <div id="content-top-light">
    <div class="container">
	<div id="search-form">
					  <form method="get" id="searchform" action="">
						<input value="search this site..." name="s" id="searchinput" type="text" />
						<input src="image/search_btn.png" id="searchsubmit" type="image" />
					  </form>
					</div>
				<!-- end #search-form -->
	<div id="logo-area"></div>
      <!-- end #logo-area -->
      <div id="content">
        <div id="inner-border">
          <div id="content-shadow">
            <div id="content-top-shadow">
              <div id="content-bottom-shadow">
			  <!--  #second-menu -->   ﻿
                <div id="second-menu" class="clearfix">
                  <ul id="secondary-menu" class="nav sf-js-enabled">
                    <li id="menu-item-1995" >
						<a href="">THÙNG CARTON</a></li>
                    <li id="menu-item-3208" >
						<a href="">giấy Chipboard</a></li>
                    <li id="menu-item-2059" >
						<a href="">KỆ GIẤY TRƯNG BÀY</a></li>
                    <li id="menu-item-551">
						<a href="">In hóa đơn</a></li>
                    <li id="menu-item-2231" >
						<a href="">IN LỊCH</a></li>
                    <li id="menu-item-29" >
						<a href="">Hộp giấy, túi giấy</a></li>
                  </ul>
                </div>
                <!-- end #second-menu -->   ﻿
                <div class="slideshow">
                  <div class="transparent_top p1"></div>
                  <div class="transparent p1">
                    <div class="image_carousel">
                      <div style="text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; width: 827.954px; height: 174px;  overflow: hidden;" class="caroufredsel_wrapper">
                        <div style="text-align: left; float: none; position: absolute; top: 0px;  width: 5746px; height: 174px;" id="foo2">
						<a href="" title="Decal"><img src="sanpham/sanpham1.jpg" title="" height="140" width="140" /></a>
						<a href="" title="Thùng carton"><img src="sanpham/sanpham2.jpg" title="" height="140" width="170" /></a>
						<a href="" title="In lịch"><img src="sanpham/sanpham3.jpg" title="" height="140" width="140" /></a>
						<a href="" title="Thùng carton"><img src="sanpham/sanpham4.jpg" title="" height="140" width="170" /></a>
						<a href="" title="Túi giấy"><img src="sanpham/sanpham5.jpg" title="" height="140" width="140" /></a> 
						<a href="" title="In Hóa đơn"><img src="sanpham/sanpham1.jpg" title="" height="140" width="170" /></a> 
						<a href="" title="In lịch"><img src="sanpham/lich3.jpg" title="" height="140" width="140" /></a> 
						<a href="" title="kệ giấy"><img src="sanpham/Kegiay01.png" title="" alt="" height="140" width="120" /></a> 
						<a href="" title="Catalogue"><img src="sanpham/catalog.jpg" title="" height="140" width="140" /></a>
						<a href="" title="Thùng carton khổ lớn"><img src="sanpham/BMP-01.jpg" title="" height="140" width="170" /></a>
						<a href="" title=""><img src="sanpham/ke-giay-trung-bay-16.jpg" title="" height="140" width="140" /></a>
						<a href="" title="Thùng carton"><img src="sanpham/thung-carton2.jpg" title="" height="140" width="140" /></a></div>
                      </div>
					  <div class="clearfix"></div>
                      <a style="display: block;" class="prev" id="foo2_prev" href="#"></a>
					  <a style="display: block;" class="next" id="foo2_next" href="#"></a>
                      <div style="display: block;" class="pagination" id="foo2_pag">
						<a class="" href="#"></a><a class="" href="#"></a><a class="selected" href="#"></a>
                      </div>
                  </div>
                </div>
                <!-- #slideshow js-->
				<script type="text/javascript">		
							$("#foo2").carouFredSel({
								circular: false,
								infinite: true,
								auto    : true,
								scroll  : {
									items   : "page"
								},
								prev    : {
									button  : "#foo2_prev",
									key     : "left"
								},
								next    : {
									button  : "#foo2_next",
									key     : "right"
								},
								pagination  : "#foo2_pag"
							});
						</script>
				<!-- #slideshow js-->
                <br />
				</div>
                <div id="main-content" class="clearfix fullwidth">
                  <div id="left-area">
                    <div id="breadcrumbs"> <a href="">Home</a> <span class="raquo">»</span> Thư viện</div>
                    <!-- end #breadcrumbs -->
                    <div style="height: auto;" id="entries">
                      <div class="entry post clearfix">
                        <h1 class="title">Thư viện hình ảnh</h1>
                        <p><strong>Gallery</strong></p>													
						<div class="grid-block-container">
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham1.jpg" width="200px" height="150px" />
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham2.jpg" width="200px" height="150px" />		    
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham3.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham4.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham5.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/lich3.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/Kegiay01.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham (8).jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham1.jpg" width="200px" height="150px" />
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham2.jpg" width="200px" height="150px" />		    
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham3.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham4.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham5.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/lich3.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/Kegiay01.jpg" width="200px" height="150px"/>
							</div>
							<div class="grid-block standard">
								<div class="caption">
									<h3>Sản phẩm chủng loại 01</h3>
									<p><a href="#" class="learn-more"><img src="image/zoom.png" /></a></p>
								</div>
								<img src="sanpham/sanpham (8).jpg" width="200px" height="150px"/>
							</div>
						</div>
						<!--/.grid-block-->
					<div class="page-nav clearfix">
						<div class="wp-pagenavi">
							<span class="pages">Page 1 of 3</span><span class="current">1</span><a href="#" class="page larger">2</a><a href="#" class="page larger">3</a><a href="#" class="nextpostslink">»</a>
							</div>						
						</div> <!-- end .entry -->
                    </div>
                    <!-- end #entries -->
                  </div>
                  <!-- end #left-area -->
                  
                  ﻿ </div>
                <!-- end #main-content -->
              </div>
              <!-- end #content-bottom-shadow -->
            </div>
            <!-- end #content-top-shadow -->
          </div>
          <!-- end #content-shadow -->
        </div>
        <!-- end #inner-border -->
      </div>
      <!-- end #content -->
    </div>
    <!-- end .container -->
  </div>
  <!-- end #content-top-light -->
  </div>
  <!-- end .post-thumbnail -->
</div>
<div id="footer">
  <div id="footer-top-shadow" class="clearfix">
    <div class="container">
      <div id="footer-widgets" class="clearfix"> </div>
      <!-- end #footer-widgets -->
      <div class="left-footer">
        <p id="copyright">
          <!--Designed by  -->
          <b>EZWeb Việt Nam</b><br />          
          <b>Website: http://zwebvietnam.com/</b><br />
		  <b>Trụ sở: 13 Đường CM tháng 8, Hồ Chí Minh</b><br />
		  <b>Phía bắc: 67 Phú Mỹ, Hà Nội</b><br />
          <b>Copyright © 2013 <a href="https://facebook.com/ezwebvietnam">EZWebViệtNam.com</a> All rights reserved. </b>
          <!--Powered by   -->
        </p>
      </div>
      <div id="right-footer"> <a href="#"><img src="image/RSS.png" alt="" border="0" /></a> <a href="#" target="_blank"><img src="image/twister.png" alt="" border="0" /></a> <a href="#" target="_blank"><img src="image/facebook.png" alt="" border="0" /></a> <a href="#" target="_blank"><img src="image/youtube.png" alt="" border="0" /></a><br />
        <a href="#"><img src="image/baokim.png" alt="" border="0" /><img src="image/nganluong.png" alt="" border="0" /><img src="image/palpay.png" alt="" border="0" /><img src="image/mastercard.png" alt="" border="0" /><img src="image/visa.png" alt="" border="0" /></a> </div>
    </div>
    <!-- end .container -->
  </div>
  <!-- end #footer-top-shadow -->
  <div id="footer-bottom">
    <div class="container clearfix"> </div>
    <!-- end .container -->
  </div>
  <!-- end #footer-bottom -->
</div>
<!-- end #footer -->

</body>
</html>
